<div class="page-wrapper">
    <p-card class="px-4 pt-2 pb-4 m-0">
        @if (form) {
            <form method="post" class="row" [formGroup]="form">
                 <div class="col-lg-6">
                    <label >{{ 'الشركة المشغلة/المالكة' }}</label>
                    <app-prime-autocomplete
                        [field]="'nameAr'"
                        [selectedOption]="selectedOrganization"
                        [suggestions]="filteredOrganizations"
                        [formGroup]="form"
                        (onSelect)="onOrganizationSelect($event)"
                        [getMethod]="getOrganizations.bind(this)"
                        (handleMethod)="getOrganizations($event)"
                    ></app-prime-autocomplete>
                </div>
                 <div class="col-lg-6 d-flex align-items-center" >
                    <app-prime-check-box [formGroup]="form" controlName="isActive" groupName="showGroup" [binary]="true" [label]="'نشط'"> </app-prime-check-box>
                </div>

                <div class="col-lg-4">
                    <app-prime-input-text [formGroup]="form" controlName="licenseNumber" [label]="'رقم الترخيص'"> </app-prime-input-text>
                </div>
               

                <div class="col-lg-4">
                    <app-prime-datepicker [formGroup]="form" controlName="fromDate" [timeOnly]="false" [label]="'من تاريخ'"> </app-prime-datepicker>
                </div>
                <div class="col-lg-4">
                    <app-prime-datepicker [formGroup]="form" controlName="toDate" [timeOnly]="false" [label]="'إلي تاريخ'"> </app-prime-datepicker>
                </div>
            </form>
        }
    </p-card>
    @if (form) {
        <app-submit-buttons [isSubmitDisabled]="form.invalid" [submitButtonText]="pageType === 'add' ? 'ACTIONS.SUBMIT' : 'ACTIONS.SAVE'" (submit)="submit()" (cancel)="closeDialog()"> </app-submit-buttons>
    }
</div>
